:root {
  font-family: 'Tektur', cursive;
  font-size: 12px;

  /* Color variables: */
  --bg-color: #FFFAEB;

  --color-primary: #102A42;
  --color-secondary: #E8B94A;
  --color-tertiary: #617D98;
  --color-quaternary: #F1F5F8;


  --color-white: #FFF;
  --color-black: #000;
  --color-red: rgba(230, 57, 9, 0.848);

  --shadow-btn: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-nav-bar: rgba(149, 157, 165, 0.5) 0px 3px 6px 0px;

  --transition-width: width 1s ease-in-out;

  background-color: var(--bg-color);
  color: var(--color-primary)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.mains {
  margin: 0 auto;
  width: min(100%, 1200px);
}


main {
  width: 100%;
  height: 100vh;
  /* 100% of viewport height */
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-div {
  display: flex;

  width: 80%;
  height: 60%;
  align-items: center;
  justify-content: space-between;

}

.center-div .main-title {
  min-width: 40%;
  margin: auto min(5px, 30px);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.center-div .main-title .upperline {
  width: 90px;
  border: 2px solid var(--color-secondary);
}

.center-div .main-title .name {
  color: var(--color-black);
  font-size: 5rem;
  font-weight: 700;
}

.center-div .main-title .description {
  font-size: 1.4rem;
  color: var(--color-tertiary);
}

.center-div .main-title .btn {
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 10px;
  background: var(--color-secondary);
  color: var(--color-black);
  border: none;
  padding: 10px 15px;
  width: fit-content;
  margin: 30px 0;
}

.center-div .main-title .social-links {
  margin-top: 20px;
  width: 60%;
}

.center-div .img-border {
  position: relative;
  height: 80%;
  width: auto;
  margin: auto 20px;
}

.center-div .img-border .border {
  position: absolute;
  left: 30px;
  top: 30px;
  border: 4px solid var(--color-secondary);
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.center-div .img-border img {
  height: 100%;
  width: auto;
  border-radius: 15px;
  filter: brightness(120%);
}

@media screen and (max-width: 680px) {

  :root {
    font-size: 0.6rem;
  }

  .center-div .img-border {
    display: none
  }
}

@media screen and (max-width: 500px) {

  .center-div {
    width: 95%;
  }
}