:root {
  font-family: 'Tektur', cursive;
  font-size: 12px;

  /* Color variables: */
  --bg-color: #FFFAEB;

  --color-primary: #102A42;
  --color-secondary: #E8B94A;
  --color-tertiary: #617D98;
  --color-quaternary: #F1F5F8;


  --color-white: #FFF;
  --color-black: #000;
  --color-black-shaded: #222222;
  --color-red: rgba(230, 57, 9, 0.848);

  --shadow-btn: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-nav-bar: rgba(149, 157, 165, 0.5) 0px 3px 6px 0px;

  --transition-width: width 0.3s ease-in-out;


  color: var(--color-primary)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

.content {
  min-height: 80vh;
}

.title {
  --font-size: 4rem;
  --width: 80px;
  --border-width: 2px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.title p {
  font-size: var(--font-size);
  font-weight: 700;
}

.title .underline {
  margin: 0 auto;
}

.underline {
  border: var(--border-width) solid var(--color-secondary);
  width: var(--width);
}

.fixed-nav {
  background: var(--color-white);
  box-shadow: var(--shadow-nav-bar);
}

.projects-container {
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: column;

}

.projects-container .title-container {

  position: relative;
  background-color: var(--color-quaternary);

  height: 40vh;

}

.projects-container .title-container .title {
  --font-size: 6rem;
  --width: 100px;
  --border-width: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.projects-container .projects-center {
  width: min(100%, 1200px);
  margin: 0 auto;
}

.projects-container .projects-center .projects {
  min-width: fit-content;
  block-size: fit-content;

  --margin-gap: 3rem;
  margin: var(--margin-gap);
  display: flex;
  gap: var(--margin-gap);
  flex-wrap: wrap;
  justify-content: center;
}

.projects-container .projects .project {
  --border-radius: 20px;
  width: min(100%, 350px);
  aspect-ratio: 0.8;

  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: var(--border-radius);
  background: var(--color-quaternary);
}

.projects-container .projects .project .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

}

.projects-container .projects .project .img-container img {
  width: 100%;
  transform: translate(0, -35%);
}

.projects-container .projects .project .info-container {
  position: relative;

  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: 90%;
  margin: 0 auto;
  font-size: 1.1rem;
}

.projects-container .projects .project .info-container .icon-container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  padding: 10px;

  background: var(--color-secondary);

  border: 7px solid var(--color-quaternary);
  border-radius: 50%;
}

.projects-container .projects .project .info-container .icon-container .icon {

  font-size: 2rem;
}

.projects-container .projects .project .info-container .name {
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 24px;
}

.projects-container .projects .project .info-container .text {
  line-height: 20px;
}

.projects-container .projects .project .info-container>* {
  margin: 8px;
}

.projects-container .projects .project .info-container .source {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 1.1rem;
  color: var(--color-secondary);
  transition: 0.1s all ease-out;
}

.projects-container .projects .project .info-container .source:hover {
  color: var(--color-primary);
}





@media screen and (max-width: 788px) {


  .projects-container .projects-center .projects {
    justify-content: center;
    margin: 50px 0;

  }

  .projects-container .projects-center .projects .project {
    width: 90%;
    aspect-ratio: 1.5;
    grid-template-rows: 3fr 1fr;

  }

  .projects-container .projects-center .projects .project>* {
    font-size: 1.5rem;
  }


  @media screen and (max-width: 580px) {

    .projects-container .title-container {
      background-color: var(--color-white);
    }

    .projects-container .title-container .title {

      --font-size: 4rem;
      transform: translate(-50%, 0%);
    }

    .projects-container .projects-center .projects {
      margin: 5px;
    }

    .projects-container .projects-center .projects .project {
      width: 90%;
      aspect-ratio: 0.7;
      grid-template-rows: 3fr 1fr;
    }

    .projects-container .projects-center .projects .project .info-container {
      font-size: 1.3rem;
      padding: 5%;
    }
  }