:root {
  font-family: 'Tektur', cursive;
  font-size: 12px;

  /* Color variables: */
  --bg-color: #FFFAEB;

  --color-primary: #102A42;
  --color-secondary: #E8B94A;
  --color-tertiary: #617D98;
  --color-quaternary: #F1F5F8;


  --color-white: #FFF;
  --color-black: #000;
  --color-black-shaded: #222222;
  --color-red: rgba(230, 57, 9, 0.848);

  --shadow-btn: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-nav-bar: rgba(149, 157, 165, 0.5) 0px 3px 6px 0px;

  --transition-width: width 0.3s ease-in-out;


  color: var(--color-primary)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

.content {
  min-height: 80vh;
}

.title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.title p {
  font-size: 4rem;
  font-weight: 700;
}

.title .underline {
  margin: 0 auto;
}

.underline {
  border: 2px solid var(--color-secondary);
  width: 80px;
}

.fixed-nav {
  background: var(--color-white);
  box-shadow: var(--shadow-nav-bar);
}

